{% extends "blog/basetemplate.html" %}
{% block content %}

<h1>STOCKS</h1>


    {% for post in posts %}
        <hr>
        <h2><a href=" {% url 'blogpost-detail' post.id %}">{{ post.title }}</a></h2>
        <img src=" {{ post.author.profile.image.url }}">
        {% ifequal post.date_posted '4/5/2021' %}
            <h3> Authored by <a href="#">{{ post.author }}</a> today </h3>
        {% else %}
            <h3> Authored by <a href="#">{{ post.author }}</a> on {{ post.date_added|date:"F d, Y" }}.</h3>
        {% endifequal %}
        <p> {{ post.content }} </p>
        
    {% endfor %}

{% endblock content %}