{% extends "blog/basetemplate.html" %}
{% block content %}
    <h1>This is the blog post form page</h1>
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-grop">
                <legend class="border-botton mb-4">Delete Blog Post</legend>
                <h2>Are you sure you want to delete post "{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type=submit>Yes</button>
                <a class="btn btn-outline-secondary" href="{% url 'blogpost-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>

{% endblock content %}